/* Estilos gerais para o corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #bdb1e7;
    margin: 2ch;
    padding: 0ch;
}

/* Estilo da foto de perfil */
.fotoPerfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1ch;
    display: block;
}

/* Estilo do botão do menu */
#menuButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos do menu dropdown (inicialmente escondido) */
#dropdownMenu {
    display: none; /* Inicialmente escondido */
    position: absolute; /* Para que o menu apareça sobre outros elementos */
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Para garantir que o menu fique por cima de outros elementos */
    border-radius: 5px;
}

/* Estilo dos itens dentro do menu */
#dropdownMenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Estilo para os itens ao passar o mouse */
#dropdownMenu a:hover {
    background-color: #ddd;
}

/* Mostrar o menu quando a classe 'show' for adicionada */
#dropdownMenu.show {
    display: block;
}
